--
-- PostgreSQL database dump
--

\restrict iKOdGxAJ5WLQdVFMipGNT24EmE4NFXF5h6sfLHneDAH42dCp4FOFUPZmJCO4dM6

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: app_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.app_status AS ENUM (
    'Applied',
    'Screening',
    'Psychotest',
    'Interview',
    'Offer',
    'Hired',
    'Rejected'
);


ALTER TYPE public.app_status OWNER TO postgres;

--
-- Name: job_priority_types; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_priority_types AS ENUM (
    'low',
    'medium',
    'high'
);


ALTER TYPE public.job_priority_types OWNER TO postgres;

--
-- Name: job_status_types; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_status_types AS ENUM (
    'draft',
    'active',
    'paused',
    'closed'
);


ALTER TYPE public.job_status_types OWNER TO postgres;

--
-- Name: recruitment_stage_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.recruitment_stage_enum AS ENUM (
    'CV_SCREENING',
    'AI_SCREENING',
    'RANKING',
    'PSYCHOTEST',
    'INTERVIEW_HR',
    'INTERVIEW_USER',
    'OFFERING',
    'NEGOTIATION',
    'TICKET',
    'HIRED',
    'REJECTED',
    'MCU_PROCESS',
    'MCU_REVIEW',
    'MCU_FAILED',
    'OFFERING_DECLINED',
    'ONBOARDING',
    'HR_REVIEW',
    'FINAL_SELECTION',
    'OFFERING_ACCEPTED'
);


ALTER TYPE public.recruitment_stage_enum OWNER TO postgres;

--
-- Name: user_roles; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_roles AS ENUM (
    'SUPER_USER',
    'HR'
);


ALTER TYPE public.user_roles OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: ata_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ata_requests (
    id character varying NOT NULL,
    requester_name character varying NOT NULL,
    title character varying NOT NULL,
    department character varying NOT NULL,
    level character varying NOT NULL,
    location character varying NOT NULL,
    employment_type character varying NOT NULL,
    salary_min bigint,
    salary_max bigint,
    attachment_url character varying(255),
    justification text,
    status character varying(20),
    hr_status character varying(20),
    hr_notes character varying,
    hr_date timestamp without time zone,
    ktt_status character varying(20),
    ktt_notes character varying,
    ktt_date timestamp without time zone,
    ho_status character varying(20),
    ho_notes character varying,
    ho_date timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    job_id character varying
);


ALTER TABLE public.ata_requests OWNER TO postgres;

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidates (
    id character varying NOT NULL,
    resume_id character varying NOT NULL,
    name character varying NOT NULL,
    email character varying,
    phone character varying,
    dob date,
    gender character varying(20),
    address text,
    city character varying(100),
    summary text,
    total_experience_years double precision,
    "current_role" character varying(100),
    education jsonb,
    experience jsonb,
    skills jsonb,
    certifications jsonb,
    languages jsonb,
    social_links jsonb,
    created_at timestamp without time zone
);


ALTER TABLE public.candidates OWNER TO postgres;

--
-- Name: cfit_norma; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cfit_norma (
    id integer NOT NULL,
    raw_score integer,
    iq_score integer,
    classification character varying(50)
);


ALTER TABLE public.cfit_norma OWNER TO postgres;

--
-- Name: cfit_norma_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cfit_norma_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cfit_norma_id_seq OWNER TO postgres;

--
-- Name: cfit_norma_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cfit_norma_id_seq OWNED BY public.cfit_norma.id;


--
-- Name: cfit_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cfit_questions (
    id integer NOT NULL,
    subtest integer,
    subtest_name character varying(100),
    instruction text,
    image_url character varying(255),
    options character varying(255),
    correct_answer integer,
    "order" integer
);


ALTER TABLE public.cfit_questions OWNER TO postgres;

--
-- Name: cfit_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cfit_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cfit_questions_id_seq OWNER TO postgres;

--
-- Name: cfit_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cfit_questions_id_seq OWNED BY public.cfit_questions.id;


--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_applications (
    id character varying NOT NULL,
    candidate_id character varying NOT NULL,
    job_id character varying NOT NULL,
    match_score integer,
    ai_verdict text,
    missing_skills jsonb,
    status public.app_status,
    applied_at timestamp without time zone
);


ALTER TABLE public.job_applications OWNER TO postgres;

--
-- Name: job_positions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_positions (
    id character varying(36) NOT NULL,
    title character varying(100) NOT NULL,
    department character varying(50) NOT NULL,
    level character varying(50) NOT NULL,
    location character varying(100) NOT NULL,
    employment_type character varying(50) NOT NULL,
    priority public.job_priority_types NOT NULL,
    status public.job_status_types NOT NULL,
    salary_min bigint,
    salary_max bigint,
    salary_currency character varying(3),
    job_description text NOT NULL,
    requirements jsonb,
    required_skills jsonb,
    available boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.job_positions OWNER TO postgres;

--
-- Name: journey_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.journey_logs (
    id integer NOT NULL,
    journey_id character varying NOT NULL,
    previous_stage character varying(50),
    new_stage character varying(50) NOT NULL,
    action character varying(100) NOT NULL,
    notes text,
    actor_name character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.journey_logs OWNER TO postgres;

--
-- Name: journey_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.journey_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.journey_logs_id_seq OWNER TO postgres;

--
-- Name: journey_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.journey_logs_id_seq OWNED BY public.journey_logs.id;


--
-- Name: kraepelin_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kraepelin_configs (
    id integer NOT NULL,
    columns integer,
    rows integer,
    duration_per_column integer
);


ALTER TABLE public.kraepelin_configs OWNER TO postgres;

--
-- Name: kraepelin_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kraepelin_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kraepelin_configs_id_seq OWNER TO postgres;

--
-- Name: kraepelin_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kraepelin_configs_id_seq OWNED BY public.kraepelin_configs.id;


--
-- Name: papi_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.papi_questions (
    id integer NOT NULL,
    statement_a text,
    statement_b text
);


ALTER TABLE public.papi_questions OWNER TO postgres;

--
-- Name: papi_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.papi_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.papi_questions_id_seq OWNER TO postgres;

--
-- Name: papi_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.papi_questions_id_seq OWNED BY public.papi_questions.id;


--
-- Name: papi_scoring_map; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.papi_scoring_map (
    id integer NOT NULL,
    question_id integer,
    choice character varying(1),
    aspect character varying(1)
);


ALTER TABLE public.papi_scoring_map OWNER TO postgres;

--
-- Name: papi_scoring_map_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.papi_scoring_map_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.papi_scoring_map_id_seq OWNER TO postgres;

--
-- Name: papi_scoring_map_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.papi_scoring_map_id_seq OWNED BY public.papi_scoring_map.id;


--
-- Name: recruitment_journeys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recruitment_journeys (
    id character varying NOT NULL,
    application_id character varying NOT NULL,
    current_stage public.recruitment_stage_enum NOT NULL,
    stage_data jsonb,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.recruitment_journeys OWNER TO postgres;

--
-- Name: resumes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resumes (
    id character varying NOT NULL,
    filename character varying NOT NULL,
    uploaded_at timestamp without time zone,
    index_path text,
    chunks_path text,
    raw_text text
);


ALTER TABLE public.resumes OWNER TO postgres;

--
-- Name: test_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_links (
    id integer NOT NULL,
    token character varying(100),
    candidate_id character varying NOT NULL,
    status character varying(20),
    expires_at timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.test_links OWNER TO postgres;

--
-- Name: test_links_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.test_links_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.test_links_id_seq OWNER TO postgres;

--
-- Name: test_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.test_links_id_seq OWNED BY public.test_links.id;


--
-- Name: test_submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_submissions (
    id integer NOT NULL,
    link_id integer,
    test_type character varying(20),
    raw_answers jsonb,
    scores jsonb,
    submitted_at timestamp without time zone
);


ALTER TABLE public.test_submissions OWNER TO postgres;

--
-- Name: test_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.test_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.test_submissions_id_seq OWNER TO postgres;

--
-- Name: test_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.test_submissions_id_seq OWNED BY public.test_submissions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role public.user_roles NOT NULL,
    is_active boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: cfit_norma id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cfit_norma ALTER COLUMN id SET DEFAULT nextval('public.cfit_norma_id_seq'::regclass);


--
-- Name: cfit_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cfit_questions ALTER COLUMN id SET DEFAULT nextval('public.cfit_questions_id_seq'::regclass);


--
-- Name: journey_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journey_logs ALTER COLUMN id SET DEFAULT nextval('public.journey_logs_id_seq'::regclass);


--
-- Name: kraepelin_configs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kraepelin_configs ALTER COLUMN id SET DEFAULT nextval('public.kraepelin_configs_id_seq'::regclass);


--
-- Name: papi_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.papi_questions ALTER COLUMN id SET DEFAULT nextval('public.papi_questions_id_seq'::regclass);


--
-- Name: papi_scoring_map id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.papi_scoring_map ALTER COLUMN id SET DEFAULT nextval('public.papi_scoring_map_id_seq'::regclass);


--
-- Name: test_links id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_links ALTER COLUMN id SET DEFAULT nextval('public.test_links_id_seq'::regclass);


--
-- Name: test_submissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_submissions ALTER COLUMN id SET DEFAULT nextval('public.test_submissions_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
21479f0cc8ff
\.


--
-- Data for Name: ata_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cfit_norma; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cfit_norma (id, raw_score, iq_score, classification) FROM stdin;
\.


--
-- Data for Name: cfit_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cfit_questions (id, subtest, subtest_name, instruction, image_url, options, correct_answer, "order") FROM stdin;
\.


--
-- Data for Name: job_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: job_positions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: journey_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: kraepelin_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kraepelin_configs (id, columns, rows, duration_per_column) FROM stdin;
\.


--
-- Data for Name: papi_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.papi_questions (id, statement_a, statement_b) FROM stdin;
\.


--
-- Data for Name: papi_scoring_map; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.papi_scoring_map (id, question_id, choice, aspect) FROM stdin;
\.


--
-- Data for Name: recruitment_journeys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recruitment_journeys (id, application_id, current_stage, stage_data, created_at, updated_at) FROM stdin;
0248d1c1-8fd7-4e22-9c15-1b7d08b937b1	APP-TRACE-001	REJECTED	{}	2026-01-15 14:36:17.155835	2026-01-15 14:36:17.224645
23d6e4b2-5898-454f-9bae-41ff11a668d5	APP-E2E	CV_SCREENING	{}	2026-01-17 02:03:10.790804	2026-01-17 02:03:10.790804
ac5d9fcc-ab92-4213-9b7d-043c0d84baf0	41d76c86-1d83-472a-a926-e442ac3042fb	RANKING	{}	2026-01-17 02:06:10.466743	2026-01-17 02:08:56.469431
\.


--
-- Data for Name: resumes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: test_links; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test_links (id, token, candidate_id, status, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: test_submissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test_submissions (id, link_id, test_type, raw_answers, scores, submitted_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password_hash, role, is_active, created_at) FROM stdin;
8b8e9a44-7f30-422a-9962-4b942c01938c	Beny	bayubulan659@gmail.com	$2b$12$UAo./SDT4nzDvtcBXG/9PedQKHJ9wBmd3DEC2sadmX0/nuXjnKwrm	HR	t	2026-01-17 02:02:17.146639
\.


--
-- Name: cfit_norma_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cfit_norma_id_seq', 1, false);


--
-- Name: cfit_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cfit_questions_id_seq', 1, false);


--
-- Name: journey_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.journey_logs_id_seq', 24, true);


--
-- Name: kraepelin_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kraepelin_configs_id_seq', 1, false);


--
-- Name: papi_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.papi_questions_id_seq', 1, false);


--
-- Name: papi_scoring_map_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.papi_scoring_map_id_seq', 1, false);


--
-- Name: test_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test_links_id_seq', 1, false);


--
-- Name: test_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test_submissions_id_seq', 1, false);


--
-- Name: job_applications _candidate_job_uc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT _candidate_job_uc UNIQUE (candidate_id, job_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: ata_requests ata_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ata_requests
    ADD CONSTRAINT ata_requests_pkey PRIMARY KEY (id);


--
-- Name: candidates candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_pkey PRIMARY KEY (id);


--
-- Name: candidates candidates_resume_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_resume_id_key UNIQUE (resume_id);


--
-- Name: cfit_norma cfit_norma_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cfit_norma
    ADD CONSTRAINT cfit_norma_pkey PRIMARY KEY (id);


--
-- Name: cfit_norma cfit_norma_raw_score_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cfit_norma
    ADD CONSTRAINT cfit_norma_raw_score_key UNIQUE (raw_score);


--
-- Name: cfit_questions cfit_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cfit_questions
    ADD CONSTRAINT cfit_questions_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: job_positions job_positions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_positions
    ADD CONSTRAINT job_positions_pkey PRIMARY KEY (id);


--
-- Name: journey_logs journey_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journey_logs
    ADD CONSTRAINT journey_logs_pkey PRIMARY KEY (id);


--
-- Name: kraepelin_configs kraepelin_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kraepelin_configs
    ADD CONSTRAINT kraepelin_configs_pkey PRIMARY KEY (id);


--
-- Name: papi_questions papi_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.papi_questions
    ADD CONSTRAINT papi_questions_pkey PRIMARY KEY (id);


--
-- Name: papi_scoring_map papi_scoring_map_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.papi_scoring_map
    ADD CONSTRAINT papi_scoring_map_pkey PRIMARY KEY (id);


--
-- Name: recruitment_journeys recruitment_journeys_application_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruitment_journeys
    ADD CONSTRAINT recruitment_journeys_application_id_key UNIQUE (application_id);


--
-- Name: recruitment_journeys recruitment_journeys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruitment_journeys
    ADD CONSTRAINT recruitment_journeys_pkey PRIMARY KEY (id);


--
-- Name: resumes resumes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT resumes_pkey PRIMARY KEY (id);


--
-- Name: test_links test_links_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_links
    ADD CONSTRAINT test_links_candidate_id_key UNIQUE (candidate_id);


--
-- Name: test_links test_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_links
    ADD CONSTRAINT test_links_pkey PRIMARY KEY (id);


--
-- Name: test_links test_links_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_links
    ADD CONSTRAINT test_links_token_key UNIQUE (token);


--
-- Name: test_submissions test_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_submissions
    ADD CONSTRAINT test_submissions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_candidates_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_candidates_email ON public.candidates USING btree (email);


--
-- Name: ata_requests ata_requests_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ata_requests
    ADD CONSTRAINT ata_requests_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.job_positions(id);


--
-- Name: candidates candidates_resume_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_resume_id_fkey FOREIGN KEY (resume_id) REFERENCES public.resumes(id) ON DELETE CASCADE;


--
-- Name: job_applications job_applications_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: job_applications job_applications_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.job_positions(id);


--
-- Name: journey_logs journey_logs_journey_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journey_logs
    ADD CONSTRAINT journey_logs_journey_id_fkey FOREIGN KEY (journey_id) REFERENCES public.recruitment_journeys(id);


--
-- Name: recruitment_journeys recruitment_journeys_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruitment_journeys
    ADD CONSTRAINT recruitment_journeys_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.job_applications(id);


--
-- Name: test_links test_links_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_links
    ADD CONSTRAINT test_links_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: test_submissions test_submissions_link_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_submissions
    ADD CONSTRAINT test_submissions_link_id_fkey FOREIGN KEY (link_id) REFERENCES public.test_links(id);


--
-- PostgreSQL database dump complete
--

\unrestrict iKOdGxAJ5WLQdVFMipGNT24EmE4NFXF5h6sfLHneDAH42dCp4FOFUPZmJCO4dM6

